#button{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;
}
#button1{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;
}
#button2{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;
}

#button3{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;
}
#button4{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;
	
}
#button5{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: black;

}