#button{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
}

#button1{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
}
#button2{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
}

#button3{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
}
#button4{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
	
}

#button5{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: purple;
}