*
{ 
	margin: 0;
	padding: 0;
	
}
#button{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}


#button1{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}
#button2{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}
#button3{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}
#button4{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}
#button5{
	font-size: 20px;
	background-color: transparent;
	border-right: solid black;
	border-left: solid black;
	color: white;
}

